.wrapper {
  grid-area: wrapper;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: none;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 5px;
  margin-left: 60px;
}

.wrapper .option {
  background: #0b869d;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #2e2e2e;
  border-bottom: 4px solid #0b869d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 11px;
  max-width: 100%;
}

.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #0b869d;
  border-radius: 50%;
  position: relative;
  display: none;
  margin-right: 5px;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .option span {
  font-size: 20px;
  color: white;
}

#controlView_input:checked + label, #programView_input:checked + label, #libraryView_input:checked + label {
  border-color: #242424;
  background: white;
  border-bottom: 4px solid white;
}

#controlView_input:checked + label .dot, #programView_input:checked + label .dot, #libraryView_input:checked + label .dot {
  display: block;
}

#controlView_input:checked + label .dot::before, #programView_input:checked + label .dot::before, #libraryView_input:checked + label .dot::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#controlView_input:checked + label span, #programView_input:checked + label span, #libraryView_input:checked + label span {
  color: #0b869d;
}

hr {
  margin-top: 0;
}

.listenerList #ListenerInformationTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 4px solid white;
  border-radius: 30px;
}

.listenerList #ListenerInformationTable td {
  text-align: left;
  padding: 3px 5px;
  font-size: 12px;
  vertical-align: top;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.listenerList #ListenerInformationTable tr {
  height: 30px;
}

.listenerList #ListenerInformationTable tr td:first-child {
  padding: 0px;
}

.listenerList #ListenerInformationTable tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.listenerList #ListenerInformationTable tr:first-child {
  font-size: 14px;
  font-weight: bold;
  background: rgba(0, 48, 240, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.passport {
  grid-area: c;
  overflow: auto;
  border-radius: 10px;
  background-color: #e5e5e5;
  padding: 20px;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 4px 4px 12px #c9c9c9;
          box-shadow: 4px 4px 12px #c9c9c9;
}

.passport #table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 4px solid white;
  border-radius: 30px;
}

.passport #table td {
  text-align: left;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
}

.passport #table tr select {
  width: 90%;
}

.passport #table tr:nth-child(odd) {
  background: white;
}

.passport #table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.passport #table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.passport #table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.passport #table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#controlPanelView {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
      grid-template-areas: "search opportunities " "lists opportunities "   "addProgramButton opportunities " ". opportunities ";
}

#controlPanelView #interactionProgramList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#controlPanelView #lists {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lists;
  padding: 4px;
  background-color: #e4e4e4;
  min-width: 150px;
  height: 700px;
  overflow-y: scroll;
  border: 2px solid #0b869d;
}

#controlPanelView #lists label {
  cursor: pointer;
}

#controlPanelView #opportunities {
  padding: 8px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: opportunities;
}

#controlPanelView #addProgramButton {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: addProgramButton;
  height: 25px;
}

#archiveView {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
      grid-template-areas: "interaction informations" "listsArcive informations";
}

#archiveView #interactionArchive {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: interaction;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding-right: 10px;
}

#archiveView #listsArcive {
  padding: 4px;
  background-color: #e4e4e4;
  min-width: 150px;
  height: 700px;
  overflow-y: scroll;
  border: 2px solid #0b869d;
}

#archiveView #informations {
  padding: 8px;
  margin-left: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: informations;
}

.programCard {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 52px) 30px 22px;
      grid-template-columns: calc(100% - 52px) 30px 22px;
      grid-template-areas: "| | i";
  overflow: auto;
  margin-top: 3px;
  padding: 4px;
  padding-right: 8px;
  background-color: #0b869d;
  color: white;
}

.programCard .timePeriod {
  font-size: 10px;
  font-style: italic;
}

.programCard:hover {
  background-color: #1b9db4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.programCard .listenerCount {
  margin-top: 2px;
  margin-left: auto;
  margin-right: 5px;
}

.listener {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 18px) 18px;
      grid-template-columns: calc(100% - 18px) 18px;
      grid-template-areas: "| i";
  margin: 4px;
  background-color: white;
  border: 2px solid #0b869d;
  padding: 5px;
}

.listener > label {
  cursor: pointer;
}

.listener:hover {
  border: 2px solid #64ccdf;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.listenerSelect {
  background-color: #64ccdf;
  border: 2px solid #64ccdf;
  margin-bottom: 0px;
}

.selectedProgram {
  background-color: #b30000;
}

.selectedProgram:hover {
  background-color: #c63434;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.leaved {
  color: #959595;
}

#statusMenu {
  display: -ms-grid;
  display: grid;
  position: fixed;
  background-color: #ededed;
  border: 2px solid #698b91;
  padding: 5px;
  position: fixed;
}

#statusMenu input {
  margin: 2px;
}

.listenerInformation {
  border: 3px solid #64ccdf;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
}

#backWall {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

#backWall #editListener {
  width: 300px;
  position: fixed;
  top: 40%;
  left: calc(50% - 150px);
  padding: 10px;
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 20px #ccc;
          box-shadow: 4px 4px 20px #ccc;
}

#backWall #editListener i {
  margin-left: auto;
  cursor: pointer;
}

.subscribe_but {
  margin: 10px;
  margin-bottom: 0;
  background-color: #21499e;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.subscribe_but:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#addProgramButton {
  font-weight: bold;
  border: none;
  padding: 5px;
  border-radius: 15px;
  background-color: #0b6f9d;
  color: white;
  margin: 5px;
}

#addButton {
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #0b869d;
  color: white;
  margin: 10px;
}

#printButton {
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  background-color: none;
  border-color: black;
  margin: 10px;
}

.programTitleName {
  font-size: 20px;
  font-weight: bold;
}

.titleStatusProgram {
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-top: 0;
  color: white;
  border-radius: 5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.programTitleDate {
  font-style: italic;
}

.switchListsButton {
  vertical-align: middle;
  text-align: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  border: 2px solid #0b869d;
  border-bottom: none;
  background-color: #0b869d;
  color: white;
  padding: 7px;
}

.switchListsButton i {
  margin-left: auto;
}

.switchListsButton:hover {
  background-color: #2299ae;
  cursor: pointer;
}

input[type="search"] {
  width: 100%;
  margin: 4px;
}
/*# sourceMappingURL=adminPanelStyle.css.map */