footer{
    box-shadow: 8px 8px 18px #c9c9c9;
    padding: 25px;
    background-color: #ececec;
    border: 2px solid #cacaca;
    margin-top: auto;
    text-align: center;
    color: #6a6a6a;
    #contacts{
        text-align: left;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 25px;
        div{
            a{
                color: #0b869d;
            }
            span{
                font-weight: bold;
            }
        }
    }
}