<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    {{ template "header" .}}
    {{ if . }}
        <input type="button" value="Выйти из аккаунта" onclick=logOut()>
    {{ else }}
        <form method="post", action="/api/loginAdmin">
            <label>Логин:</label>
            <input name="login">
            <label>Пароль:</label>
            <input name="password" type="password">
            <button type="submit">Готово</button>
        </form>
    {{ end }}
    <script src="/js/general.js"></script>
    <script>
        function logOut(){
            Send("POST", "/api/logoutAdmin", null)
            document.location.href='/'
        }
    </script>
</body>
</html>