<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homePageStyle.css">
    <link rel="stylesheet" href="/css/registrationFormStyle.css">
    <title>Главная</title>
</head>
<body>
    {{ template "header" .}}
    <div id="filters"></div>
    <h1 style="margin-left: 10%;">Программы</h1>
    <div id="programList"></div>
    <script src="/js/general.js"></script>
    <script src="/js/registrationFormScript.js"></script>
    <script src="/js/homePageScript.js"></script>
</body>
</html>