<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Паспорт программы</title>
    <link rel="stylesheet" href="/css/passportStyle.css">
    <link rel="stylesheet" href="/css/registrationFormStyle.css">
</head>

<body>
    <div id="page">
        {{template "header" .Admin}}
        <script src="/js/general.js"></script>
        <script src="/js/registrationFormScript.js"></script>
        <script src="/js/programPassportScript.js"></script>
        {{ template "footer"}}
    </div>
</body>
</html>